BookManager/BookManager.xcodeproj/project.xcworkspace/xcuserdata/jgchoi.qa.xcuserdatad/UserInterfaceState.xcuserstate
BookManager/BookManager.xcodeproj/xcuserdata/jgchoi.qa.xcuserdatad/xcschemes/BookManager.xcscheme
BookManager/BookManager.xcodeproj/xcuserdata/jgchoi.qa.xcuserdatad/xcschemes/xcschememanagement.plist
VisualBookManager/VisualBookManager.xcodeproj/xcuserdata/jgchoi.qa.xcuserdatad/xcschemes/VisualBookManager.xcscheme
VisualBookManager/VisualBookManager.xcodeproj/xcuserdata/jgchoi.qa.xcuserdatad/xcschemes/xcschememanagement.plist
DigitalFrame/DigitalFrame/0.jpg
DigitalFrame/DigitalFrame/1.jpg
DigitalFrame/DigitalFrame/10.jpg
DigitalFrame/DigitalFrame/2.jpg
DigitalFrame/DigitalFrame/3.jpg
DigitalFrame/DigitalFrame/4.jpg
DigitalFrame/DigitalFrame/5.jpg
DigitalFrame/DigitalFrame/6.jpg
DigitalFrame/DigitalFrame/7.jpg
DigitalFrame/DigitalFrame/8.jpg
DigitalFrame/DigitalFrame/9.jpg
DigitalFrame/DigitalFrame.xcodeproj/project.pbxproj
DigitalFrame/DigitalFrame.xcodeproj/project.xcworkspace/contents.xcworkspacedata
SignUpScreen/SignUpScreen.xcodeproj/project.pbxproj
SignUpScreen/SignUpScreen.xcodeproj/project.xcworkspace/contents.xcworkspacedata
AppLifeCycle/AppLifeCycle.xcodeproj/project.pbxproj
AppLifeCycle/AppLifeCycle.xcodeproj/project.xcworkspace/contents.xcworkspacedata
