BookManager/BookManager.xcodeproj/project.xcworkspace/xcuserdata/jgchoi.qa.xcuserdatad/UserInterfaceState.xcuserstate
BookManager/BookManager.xcodeproj/xcuserdata/jgchoi.qa.xcuserdatad/xcschemes/BookManager.xcscheme
BookManager/BookManager.xcodeproj/xcuserdata/jgchoi.qa.xcuserdatad/xcschemes/xcschememanagement.plist
VisualBookManager/VisualBookManager.xcodeproj/xcuserdata/jgchoi.qa.xcuserdatad/xcschemes/VisualBookManager.xcscheme
VisualBookManager/VisualBookManager.xcodeproj/xcuserdata/jgchoi.qa.xcuserdatad/xcschemes/xcschememanagement.plist
